@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap");

:root {
    --color-black: #191919;
    --color-white: #fafafa;
    --color-orange: #d87d4a;
    --color-gray-100: #f1f1f1;
    --color-gray-200: #d9d9d9;
    --color-gray-500: #808787;
    --color-gray-600: #7d7d7d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Manrope";
}

body.no-scroll {
  overflow: hidden;
  height: 100%;
}

main {
    display: flex;
    flex-direction: column;
    row-gap: 64px;
    margin-bottom: 112px;

    @media (min-width: 768px) {
        row-gap: 80px;
    }
    @media (min-width: 1024px) {
        row-gap: 96px;
        margin-bottom: 160px;
    }
    @media (min-width: 1280px) {
        margin-bottom: 192px;
    }
}

@view-transition {
    navigation: auto;
}
